Email field in the user table appears to be case sensitive

This can make it tricky to add users to projects

Yes. According to the [RFC 5321 section 2.3 11](https://tools.ietf.org/html/rfc5321#section-2.3.11) (or [RFC 2821](http://www.ietf.org/rfc/rfc2821.txt)) 

```
The local-part of a mailbox MUST BE treated as case sensitive. Therefore, SMTP implementations MUST take care to preserve the case of mailbox local-parts. Mailbox domains are not case sensitive. In particular, for some hosts the user "smith" is different from the user "Smith". However, exploiting the case sensitivity of mailbox local-parts impedes interoperability and is discouraged.
```
So we can't transform all the email address to lowercase because some email servers (postfix by default do it) distinguish addresses with capital letters.

Do I notice correctly that the login procedure is NOT case sensitive, even though the editbox says it is?

it's not so simple: If there are to user with the same emial (ex@ex.com and EX@ex.com) the login is case sensitive but if there is only one user the login form is case insensitive.

https://github.com/taigaio/taiga-back/blob/master/taiga/users/services.py#L41



Good solution!